.table-container {
    width: 100%;
    overflow-x: auto;
    margin: 20px 0;
  }
  
  .contact-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 16px;
    text-align: left;
  }
  
  .contact-table th, .contact-table td {
    padding: 10px 15px;
    border: 1px solid #ddd;
  }
  
  .contact-table th {
    background-color: #f4f4f4;
  }
  
  .contact-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .contact-table tr:hover {
    background-color: #f1f1f1;
  }
  
  .edit-button, .delete-button {
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .edit-button {
    background-color: #4CAF50;
    color: white;
  }
  
  .edit-button:hover {
    background-color: #45a049;
  }
  
  .delete-button {
    background-color: #f44336;
    color: white;
  }
  
  .delete-button:hover {
    background-color: #e53935;
  }

/* עיצוב כפתורים */
.edit-button,
.delete-button,
.save-button,
.cancel-button {
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  font-size: 14px;
  border-radius: 5px;
}

.edit-button {
  background-color: #4CAF50;
  color: white;
}

.delete-button {
  background-color: #f44336;
  color: white;
}
/* .............. */
.save-button {
  background-color: #4CAF50;
  color: white;
}

.cancel-button {
  background-color: #f44336;
  color: white;
}

/* עיצוב שדות עריכה */
.contact-table input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 14px;
  box-sizing: border-box;
}

.contact-table td input {
  width: 80%; /* אורך שדה העריכה קטן יותר */
}